@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

/* ---------- 共通 ---------- */

.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .container {
        padding: 0 1.25rem;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    opacity: 0.6;
}

.pink {
    color: #F11F8D;
}

.section__title {
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
}

.section__title--large {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .section__title {
        font-size: 2.25rem;
    }

    .section__title--large {
        font-size: 3.375rem;
    }
}

/* ---------- ヘッダ ---------- */
.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    width: 100%;
    padding-left: 1rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
    z-index: 100;
}

.header__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 10.375rem;
    line-height: 0;
}

@media (min-width: 768px) {
    .header {
        height: 6.3125rem;
        padding-left: 0;
    }

    .header__wrapper {
        max-width: 75rem;
        margin: auto;
        padding: 0 1.25rem;
    }

    .header__logo {
        width: 21%;
        max-width: 15.0625rem;
    }
}

/* ハンバーガーメニュー */
@media (max-width: 767px) {
    .header__hamburger-button {
        width: 4.375rem;
        height: 4.375rem;
        background-color: #005BAC;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1.0625rem 0;
    }

    .header__hamburger-line {
        width: 1.875rem;
        height: 0.3125rem;
        background-color: #fff;
        border-radius: 0.0625rem;
    }

    .header__hamburger-menu {
        position: absolute;
        top: 4.375rem;
        right: -100%;
        width: 100%;
        height: 20.6875rem;
        padding: 1.25rem;
        background-color: #005BAC;
        opacity: 0;
        transition: right 0.3s ease, opacity 0.3s ease;
    }

    .header__hamburger-menu--open {
        right: 0;
        opacity: 1;
    }

    .header__hamburger-menu-list-item {
        border-bottom: 0.0625rem solid #fff;
        display: block;
        width: 100%;
        height: 2.9375rem;
        font-size: 1.125rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        padding-left: 1.6875rem;
    }

    .header__hamburger-menu-list-item a {
        color: #fff;
        display: block;
    }

    .header__hamburger-menu-list-item::before {
        font-family: 'Bootstrap Icons';
        content: '\F135' ;
        color: #fff;
        position: absolute;
        left: 0.875rem;
        font-size: 1.625rem;
    }

    .header__hamburger-menu-button {
        background-color: #fff;
        color: #005BAC;
        font-size: 1.125rem;
        font-weight: 700;
        width: 100%;
        height: 4.125rem;
        border-radius: 2.0625rem;
        margin: 2rem 0;
    }
}

/* グローバルナビゲーション */
@media (min-width: 768px) {
    .header__global-menu {
        display: flex;
        column-gap: clamp(0.5rem, 4vw, 3rem);
    }
    .header__global-menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: clamp(0.5rem, 4vw, 3rem);
        flex-wrap: nowrap;
    }

    .header__global-menu-list-item {
        font-size: clamp(1rem, 1.67vw, 1.25rem);
    }

    .header__hamburger-menu-list-item::before {
        content: none;
    }

    .header__global-menu-button {
        width: clamp(10rem, 23.5vw, 17.625rem);
        height: 3.8125rem;
        border-radius: 1.9063rem;
        background-image: linear-gradient(to right, #0271E0, #53A2F0);
        color: #fff;
        font-size: clamp(1rem, 1.667vw, 1.25rem);
        font-weight: 700;
    }

}

/* ---------- メインビジュアル ---------- */
.main-visual {
    margin-top: 4.375rem;
    background-image: url('/assets/image/mv_sp_01.jpg');
    background-position: right top;
    background-size: cover;
    width: 100%;
    height: 15.625rem;
}

.main-visual__container {
    padding-top: 2.125rem;
}

.main-visual__achievement {
    display: flex;
}

.main-visual__achievement img {
    width: 1.5rem;
}

.main-visual__achievement-text {
    font-size: 0.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-visual__achievement-text--medium {
    font-size: 1.5625rem;
    line-height: 1.4;
}

.main-visual__achievement-text--large {
    font-size: 2.25rem;
}

.main-visual__headline {
    margin-top: 1rem;
}

.main-visual__headline-text {
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
}

.main-visual__headline-text--large {
    color: #005BAC;
    font-size: 1.5625rem;
    font-weight: 900;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .main-visual {
        margin-top: 6.3125rem;
        background-image: url('/assets/image/mv_pc_01.jpg');
        background-position: top center;
        background-size: cover;
        height: 40.6875rem;
    }

    .main-visual__container {
        padding-top: 6.5rem;
        padding-left: 3.125rem;
    }

    .main-visual__achievement img {
        width: 3.2875rem;
    }

    .main-visual__achievement-text {
        font-size: 1.25rem;
        margin: 0 1.25rem;
    }


    .main-visual__achievement-text--medium {
        font-size: 3.375rem;
        line-height: 1.4;
        margin-left: 0.75rem;
    }

    .main-visual__achievement-text--large {
        font-size: 4.625rem;
    }

    .main-visual__headline {
        margin-top: 2rem;
    }

    .main-visual__headline-text {
        font-size: 2.0625rem;
    }

    .main-visual__headline-text--large {
        font-size: 3.75rem;
    }
}

/* ---------- ボタングループ ---------- */
.button-group__container {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3.875rem;
}

.button-group__button {
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    color: #fff;
    font-weight: 700;
    background-color: #77CB33;
}

.button-group__button:nth-child(2) {
    background-color: #F6AA00;
}

.button-group__button:nth-child(3) {
    background-color: #3AC8AD;
}

@media (min-width: 768px) {
    .button-group {
        margin-bottom: 4.5rem;
    }

    .button-group__container {
        flex-direction: row;
        column-gap: clamp(1rem, 4vw, 2.5rem);
        margin-top: -2.3438rem;
        padding: 0 1.25rem;
    }

    .button-group__button {
        width: 21.25rem;
        height: 4.6875rem;
        border-radius: 2.3438rem;
        font-size: clamp(1.25rem, 2vw, 1.5rem);
    }
}

/* ---------- 選ばれる3つの理由 ---------- */
.reasons {
    margin-top: -4.375rem;
    padding-top: 4.375rem;
}

.section__title--reasons {
    margin-bottom: 1.0625rem;
}

.reasons__img {
    width: 100%;
}

.reasons__img img {
    width: 100%;
}

.reasons__point {
    font-size: 1.5rem;
    line-height: 1.5;
}

.reasons__point--large {
    font-size: 2.25rem;
}

.reasons__title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.5625rem;
}

.reasons__description {
    margin-bottom: 2.125rem;
}

@media (min-width: 768px) {
    .reasons {
        margin-top: -6.3125rem;
        padding-top: 6.3125rem;
        margin-bottom: 4.125rem;
    }

    .section__title--reasons {
        margin-bottom: 2rem;
    }

    .reasons__item {
        display: flex;
        flex-direction: row;
        column-gap: 2.5rem;
        margin-bottom: 2.5625rem;
    }

    .reasons__item:nth-of-type(2) {
        flex-direction: row-reverse;
    }

    .reasons__img {
        width: 50%;
    }

    .reasons__img img {
        width: 100%;
    }

    .reasons__text {
        width: 50%;
    }

    .reasons__point {
        font-size: 1.75rem;
        line-height: 1.4;
    }

    .reasons__point--large {
        font-size: 2.625rem;
    }

    .reasons__title {
        font-size: 1.5rem;
        line-height: 1.75;
        margin-bottom: 0.6875rem;
    }
}

/* ---------- 入学説明会に申し込む ---------- */
.application {
    background-color: rgba(255, 85, 85, 0.1);;
}

.application-1 {
    margin-bottom: 4rem;
}

.application-2 {
    margin-bottom: 4.0625rem;
}

.application__container {
    padding: 2.5rem 2.1875rem;
}
.application__text {
    margin-bottom: 0.5625rem;
    padding: 0 0.5rem;
    text-align: center;
}

.application__button {
    width: 100%;
    height: 4.3125rem;
    border-radius: 2.1563rem;
    background-image: linear-gradient(to right, #0271E0, #53A2F0);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .application__container {
        padding: 3.375rem 1.25rem;
    }

    .application-1 {
        margin-bottom: 4.625rem;
    }

    .application-2 {
        margin-bottom: 4.625rem;
    }

    .application__text {
        margin-bottom: 1.125rem;
    }

    .application__button {
        width: 22.5rem;
        height: 4.6875rem;
        font-size: 1.5rem;
        margin: auto;
        padding-left: 1.25rem;
    }
}

/* ---------- コース・目的 ---------- */
.course {
    margin-top: -4.375rem;
    padding-top: 4.375rem;
    margin-bottom: 3.9375rem;
}

.section__title--course {
    padding-left: 1.25rem;
    margin-bottom: 1.3125rem;
}

@media (min-width: 768px) {
    .course {
        margin-top: -6.3125rem;
        padding-top: 6.3125rem;
        margin-bottom: 4.0625rem;
    }

    .section__title--course {
        padding-left: 0;
        margin-bottom: 2.125rem;
    }
}

@media (max-width: 767px) {
    .course__container {
        padding: 0;
    }
}

.st-theme-basic {
    border: none;
}

.st > .nav {
    column-gap: 0.9375rem;
    flex-direction: row !important;
    padding: 0 1rem;
    box-shadow: none;
}

.st-theme-basic > .nav .nav-link {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.4;
    background-color: #F0F0F0;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 0.75rem 0.75rem 0 0;
}

.st-theme-basic > .nav .nav-link.active {
    color: #333 !important;
    background-color: #F2F9FF;
}

.st-theme-basic > .nav .nav-link.active::after {
    background-color: unset !important;
}

.tab-content {
    background-color: #F2F9FF;;
    padding: 1.75rem 1rem;
    height: auto !important;
}

.st > .tab-content > .tab-pane {
    padding: 0;
}

@media (min-width: 768px) {
    .st > .nav {
        padding: 0;
        column-gap: 2.1875rem;
    }

    .st-theme-basic > .nav .nav-link {
        font-size: 1.5rem;
    }

    .tab-content {
        padding: 2rem 0.125rem 0 2rem;
    }
}

.course__tab-pane {
    display: flex;
    flex-direction: column;
}

.course__tab-item {
    margin-bottom: 1.25rem;
    position: relative;
}

.course__tab-wrap {
    margin-bottom: 7px;
}

.course__tab-img {
    display: block;
    width: 100%;
    height: auto;
}

.course__tab-img img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4%;
}

.course__tab-text {
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 1.3125rem;
    line-height: 2.1;
}

.course__tab-text i {
    font-size: 1.625rem;
    color: #005BAC;
    position: absolute;
    left: -0.375rem;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .course__tab-pane {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.9375rem;
    }

    .course__tab-item {
        width: calc(50% - 1.9375rem);
        margin-bottom: 1.75rem;
    }

    .course__tab-wrap {
        width: 100%;
        border-radius: 0.75rem;
        overflow: hidden;
    }

    .course__tab-img img {
        border-radius: 0.75rem;
    }

    .course__tab-text {
        font-size: 1.25rem;
        padding-left: 1.8125rem;
        line-height: 2.5;
    }

    .course__tab-text i {
        font-size: 1.875rem;
    }

    .course__tab-link:hover .course__tab-img img{
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }
}

/* ---------- 費用 ---------- */
.cost {
    margin-top: -4.375rem;
    padding-top: 4.375rem;
    margin-bottom: 3.75rem;
}

.section__title--cost {
    padding-left: 1rem;
    margin-bottom: 1.1875rem;
}

@media (min-width: 768px) {
    .cost {
        margin-top: -6.3125rem;
        padding-top: 6.3125rem;
        margin-bottom: 4.375rem;
    }

    .section__title--cost {
        padding-left: 0;
        margin-bottom: 2.0625rem;
    }
}

.cost__table {
    border-collapse: collapse;
    border: 0.1875rem solid #ccc;
    width: 100%;
    text-align: center;
}

.cost__table th {
    background-color: #F5F5F5;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
}

.cost__table td {
    border: 0.0625rem solid #ccc;
    height: 4rem;
}

.cost__table--header1 {
    width: 34%;
}

.cost__table--header2 {
    width: 66%;
    padding-right: 1rem;
}

.cost__table-price {
    font-size: 1.75rem;
    padding-right: 0.3125rem;
}

.cost__table-price--6 {
    padding-left: 1.375rem;
}

.cost__table-price--small {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .cost__table {
        max-width: 37.5rem;
        margin: auto;
        font-size: 1.125rem;
    }

    .cost__table th {
        padding-top: 1.375rem;
        padding-bottom: 1.25rem;
    }

    .cost__table td {
        height: 4.875rem;
    }

    .cost__table--header1 {
        width: 9rem;
    }

    .cost__table--header2 {
        width: 28.4375rem;
        padding-right: 0;
    }

    .cost__table-price {
    font-size: 2rem;
    padding-right: 0;
    }

    .cost__table-price--6 {
    padding-left: 0;
    }

    .cost__table-price--small {
        font-size: 1.125rem;
    }
}

/* ---------- インフォメーション ---------- */
.info__group {
    display: flex;
    flex-direction: column;
}

.info__item {
    width: 100%;
    height: 10.625rem;
    overflow: hidden;
    position: relative;
}

.info__link {
    width: 100%;
    height: 10.625rem;
    display: block;
}

.info__img {
    background-position: top left;
    background-size: cover;
    width: 100%;
    height: 10.625rem;
    position: relative;
}

.info__img--faq {
    background-image: url(/assets/image/info_photo_sp_01.jpg);
}

.info__img--search {
    background-image: url(/assets/image/info_photo_sp_02.jpg);
}

.info__img::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.info__text {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 0;
    color: #fff;
    z-index: 2;
    position: absolute;
    top:50%;
    left: 1rem;
}

@media (min-width: 768px) {
    .info__group {
        flex-direction: row;
    }

    .info__item {
        width: 50%;
        height: 20rem;
    }

    .info__link {
        height: 20rem;
    }

    .info__img {
        height: 20rem;
        background-position: top center;
    }

    .info__img--faq {
        background-image: url(/assets/image/info_photo_pc_01.jpg);
    }

    .info__img--search {
        background-image: url(/assets/image/info_photo_pc_02.jpg);
    }

    .info__img::after {
        opacity: 0;
    }

    .info__text {
        font-size: 2rem;
        top:50%;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .info__link:hover .info__img {
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }
}

/* ---------- フッター ---------- */
.footer {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.1875rem;
    padding: 0.25rem 0 0 1rem;
}

.footer small {
    font-size: 0.8125rem;
}

@media (min-width: 768px) {
    .footer {
        height: 7.5rem;
        padding: 0;
    }
}